* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    direction: rtl;
    background-color: #fff;
    color: #232323;
    font-family: "Arimo";
    font-size: 18px;
    text-rendering: optimizeLegibility;
}

html {
    background-color: #f4f4f4;
}

body {
    background-color: #f4f4f4;  
}

nav {
    background-color: #c3262f;
}

.container {
    padding: 0;
}

.navbar {
    padding:0;
}

#logo-nav {
    width: 260px;
    margin-right: 15px;
}

.navbar-expand-xl .navbar-nav .nav-link:link,
.navbar-expand-xl .navbar-nav .nav-link:visited {
    color: white;
    font-size: 90%;
    font-weight: normal;
    border-bottom: 3px solid transparent;
    margin: 0 15px;
    padding: 10px 0 7px 0;
    transition: border-bottom 0.2s;
    letter-spacing: 1px;
}

.navbar-expand-xl .navbar-nav .nav-link:hover {
    border-bottom: 3px solid #c3262f;
}

.navbar-expand-xl .navbar-nav .dropdown-menu {
    background-color:#c3262f;
}

.dropdown-item {
    font-size: 90%;
    color: #fff;
}

.dropdown-item:hover {
    background-color: #a72028;
    color: white;
}

.navbar-dark .navbar-toggler {
    outline: none;
    border: 2px solid #e9e6e6;
    color: #e9e6e6;
    margin-left: 15px;
}

.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), url(../img/furnishings.jpg);
    background-position: center;
    background-size: cover;
    padding: 60px;
    margin-top: 54px;
    margin-bottom: 15px;
}

h1 {
    font-weight: bold;
    margin: 0;
    color: white;
    word-spacing: 4px;
    letter-spacing: 8px;
    text-shadow: 5px 5px 2px #232323;
}

.card {
    text-align: center;
    margin-bottom: 20px;
}

.card-title {
    margin-bottom: 0;
}

.card-body {
    padding: 0 10px 10px 10px;
}

hr {
    margin: 0 0 10px 0;
}

#delete-form {
    display: inline-block;
}

.form-control {
    font-size: 90%;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #aaaaaa;
}